{% extends 'base.html' %}
{% block content %}

{%load static%}
{%if user not in question.voters.all and question.result == None and question.is_live%}
<body>
  <div class="wf-section border:1px">
    <div class="container-8 w-container">
      <h1 class="heading-35">{{question.question}} </h1>
      <h4 class="heading-36">Voting Ends: {{question.dateEnds}} </h4>
      <p class="paragraph-21">Warning: You may not edit your response once it has been submitted. </p>
      <div class="w-row">
        <form action="" method=POST>
        <div class="w-col w-col-6">
          <div class="div-block-14">
            <input class="w-button button-8" type='submit' value='Yes' name='Yes' />
          </div>
        </div>
        <div class="w-col w-col-6">
          <div>
            <input class="w-button button-8" type='submit' value='No' name='No' />
          </div>
        </div>
      </div>
      <div class="div-block-15" >
        <a href="{% url "accounts:profile"%}" class="link">Not ready to vote? Return To Dashboard</a>
      </div>
    </div>
  </div>
</body>
{%else%}
<body>
  <div class="wf-section border:1px">
    <div class="w-container">
      <h1 class="heading-35">{{question.question}} </h1>
      <div class="div-block-11">
      <img src="{%static 'images/cubes.gif'%}" loading="lazy" width="150" height="150" alt="" class="align-items-center">
      </div>
      <h4 class="heading-36">Voting Ends: {{question.dateEnds}} </h4>
      <h5 class="heading-38">{{question.getScores.5}} Total Votes Submitted.</h5>
      {%if answer%} 
      <p class="paragraph-21">Thanks for submitting your prediction! You voted Yes. </p>
      {% else%} 
      <p class="paragraph-21">Thanks for submitting your prediction! You voted No. </p>
      {% endif %}
      <div class="columns-8 w-row">
        <div class="column-21 w-col w-col-6">
          <div class="div-block-14">
            <h3 class="heading-37">Equal Weighted Percentages</h3>
            <p class="paragraph-22">Yes - {{question.getScores.1}}%</p>
            <div class="html-embed-3 w-embed"><progress height="40px" value="{{question.getScores.1}}" max="100"></progress></div>
            <p class="paragraph-22">No - {{question.getScores.2}}%</p>
            <div class="html-embed-3 w-embed"><progress height="40px" value="{{question.getScores.2}}" max="100"></progress></div>
          </div>
        </div>
        <div class="w-col w-col-6">
          <div class="div-block-14">
            <h3 class="heading-37">Accuracy Adjusted Percentages</h3>
            {% if question.getScores.3 != 'None' %}  
            <p class="paragraph-22">Yes - {{question.getScores.3}}%</p>
            <div class="html-embed-3 w-embed"><progress height="40px" value="{{question.getScores.3}}" max="100"></progress></div>
            <p class="paragraph-22">No - {{question.getScores.4}}%</p>
            <div class="html-embed-3 w-embed"><progress height="40px" value="{{question.getScores.4}}" max="100"></progress></div>
            {%else%}
            <p class="paragraph-22">Yes - TDB</p>
            <div class="html-embed-3 w-embed"><progress height="40px" value="100" max="100"></progress></div>
            <p class="paragraph-22">No - TBD</p>
            <div class="html-embed-3 w-embed"><progress height="40px" value="100" max="100"></progress></div>
            {%endif%}
          </div>
        </div>
      </div>
      <div class="div-block-15">
        <a href="{% url "accounts:profile" %}" class="link-2">Return To Dashboard</a>
      </div>
    </div>
  </div>
</body>


{% endif %}

{%endblock%}