{% extends "../base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "accounts:profile" %}';
</script>
{% endif %}

<header id="hero" class="hero wf-section">
    <div class="flex-container-3 w-container">
      <div class="hero-image-mask"><img src="{% static 'images/cubes.gif' %}" alt="" class="hero-image-2"></div>
      <div class="div-block-7">
        <h1>Sign In</h1>
        <p>Welcome to Crowd Predictive Analytics. </p>
        <div class="w-form">
          <form id="email-form" 
          name="email-form" data-name="Email Form" 
          method="get">
          
          <label for="name">{{ form.username.label}}</label>                                
          {{ form.username}}
          <label for="email">Password</label><input type="email" class="w-input" maxlength="256" name="email" data-name="Email" placeholder="" id="email" required="">
          {{ form.password}}
          <input type="submit" value="Log-In" data-wait="Please wait..." class="w-button">
        </form>
          {% if form.errors %}
          <div class="w-form-fail">
            <div>Error: Username or Password not correct!</div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
{% endblock %}