{% extends "base.html" %}
{% block content %}
{% load static %}
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

  <div class="w-row">
    <div class="column-4 w-col w-col-6">    
      <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_ofa3xwo7.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
      </div>
    <div class="w-col w-col-6">
      <div>
        <h1>@{{request.user.username}}</h1>
        <br><br>
        Bio:    {{request.user.bio}}
        <br><br>
        Total Questions Answered: {{count}}
        <br><br>‍<br>
        Calculated Accuracy: {{accuracy}}  %<br></p>
        <a href="#" class="w-button">Update Profile</a>
      </div>
    </div>
  </div>
  <br><br>‍<br>
  <div class="container">
    {%if not_done == 0 %}
    <h1 class="heading-4"> No Questions in Progress</h1>
    {%else%}
        <h1 class="heading-4">Questions in Progress</h1>
      {%endif%}  

</div>
<div class="container">
  <div class="py-5">
    <div class="row">
      {% for q in questions %}
      {% if  q.result == None %}
      <div class="col-md-4">
      <a class="text-dark" href="{{q.get_absolute_url}}">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
              <h2 style="font-size:18px;font-weight:bold">{{q.question}}</h2>
              {% for c in choices%}
              {% if c.question == q and c.answered%}
              <p class="card-text">Your Vote =  {%if c.response %} Yes {%else%} No {%endif%}</p>
              {% endif %}
              {% endfor %}
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Voting Ends - {{q.dateEnds}}</small>
              </div>
          </div>
        </div>
      </a>
      </div>
        {%endif%}  
  {% endfor %}           
    </div>
  </div>
</div>
<!-- This is for questions they have answered before.  -->
<br><br>‍<br>
<div class="container">
  {%if count == 0 %}
      <h1 class="heading-4">Questions Completed</h1>
    {%endif%}  
</div>
<div class="container">
  <div class="py-5">
    <div class="row">
      {% for q in questions %}
      {% if  q.result != None %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
              <h2 style="font-size:18px;font-weight:bold">{{q.question}}</h2>
              {% for c in choices%}
              {% if c.question == q and c.answered%}
              <p class="card-text">Your Vote =  {%if c.response %} Yes {%else%} No {%endif%}</p>
              <small class="text-muted">Result =  {%if q.result %} Yes {%else%} No {%endif%}</small>
              {% endif %}
              {% endfor %}
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Voting Ends - {{q.dateEnds}}</small>
              </div>
          </div>
        </div>
      </div>
        {%endif%}  
  {% endfor %}           
    </div>
  </div>
</div>




{% endblock %}