{% extends "base.html" %}
{% block content %}
{% load static %}


<body id="top" class="body-2">
  <div class="section custom-full1">
  <div class="section-5 wf-section">

    <div class="container-4 w-container">
      <h3 class="heading-22">welcome to</h3>
      <h1 class="heading-20">      CROWD PREDICTIVE ANALYTICS</h1>
      <h3 class="heading-23">the worlds first</h3>
      <h1 class="heading-21">PREDICTIVE ANALYTICS NETWORK.</h1>
    </div>
    <div class="container-5 w-container">
      <div class="columns-7 w-row">
        <div class="column-15 w-col w-col-6"><img src="{%static 'images/charts.gif'%}" loading="lazy" width="115" height="50" alt="" class="image-8"></div>
        <div class="column-16 w-col w-col-6">
          <p class="paragraph-12">Crowd Predictive Analytics facilitates accurate predictions of macroeconomic, stock prices, as well as various world events and trends by use of proprietary algorithms that employ wisdom of the crowd, artificial intelligence, and data analytics for the benefit of all users.</p><img src="{%static 'images/cubes.gif'%}" loading="lazy" width="102" height="100" alt="" class="image-9">
        </div>
      </div>
    </div>
    <div class="container-6 w-container">
      <div class="div-block-11"><img src="{%static 'images/beta.gif'%}" loading="lazy" alt="" class="image-10">
        <h5 class="heading-25"> NOTICE - CPA is currently in BETA testing phase. </h5>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <section id="call-to-action" class="call-to-action wf-section">
    <div class="centered-container-3 w-container">
      <h1 class="heading-28">our platform provides a</h1>
      <h2 class="heading-27">NETWORK EFFECT<br></h2>
      <h1 class="heading-29"> for all of its members.</h1>
      <p class="paragraph-15">The more predictions that our community submits, the higher the benefit for everyone in the network.</p><img src="{%static 'images/network.gif'%}" loading="lazy" width="308" alt="">
      <div class="div-block-12">
        <a href="#learnmore" class="button-5 w-button">Learn More</a>
        {% if request.user.is_authenticated %}
        <a class="w-button button-6" href="{% url "accounts:profile" %}">Dashboard</a>
        {%else%}
        <a href="{% url "accounts:register" %}" class="w-button button-6">Register Now</a>
        {%endif%}
      </div>
    </div>
  </section>
</div>
<div class="section custom-full1">
  <div id=""learnmore></div>
  <section id="feature-section" class="feature-section-2 wf-section">
    <div class="container-7 w-container">
      <h1 class="heading-32">HOW DOES CROWD PREDICTIVE ANALYTICS WORK?</h1>
      <h4 class="heading-34"></h4>
      <div class="w-row">
        <div class="column-17 w-col w-col-6"><img src="{%static 'images/question.gif'%}" loading="lazy" width="150" alt="" class="image-12"></div>
        <div class="column-18 w-col w-col-6">
          <p class="paragraph-17 font-size:small">Crowd Predictive Analytics will generate questions for users to submit their predictions on. Users will have one chance to submit their prediction and will not be allowed to make any updates once their prediction has been submitted. Each question will have a  deadline and results will be posted once verified by CPA admin. When results have been posted, ever user&#x27;s accuracy score will be updated.</p>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-6">
          <p class="paragraph-18">Predictions are used as input for CPA&#x27;s proprietary weighted formula&#x27;s which calculate the crowd&#x27;s prediction. Active users will gain access to the crowd&#x27;s weighted prediction only after they have submitted their prediction for that question. The more predictions that our community submits, the higher the benefit for everyone in the network.</p>
        </div>
        <div class="column-19 w-col w-col-6"><img src="{%static 'images/brain.gif'%}" loading="lazy" width="200" alt="" class="image-13"></div>
      </div>
      <div class="w-row">
        <div class="column-20 w-col w-col-6"><img src="{%static 'images/rating.gif'%}" loading="lazy" width="190" alt="" class="image-14"></div>
        <div class="w-col w-col-6">
          <p class="paragraph-19">If the crowd accurately predicts the question(s) being asked, the users who participated will then be rewarded ONE CPA token. The more tokens a user holds, the greater the user&#x27;s payout will be. During the BETA testing phases, token amounts will not appear on the user&#x27;s dashboard, however, early registration users are receiving 2x tokens which is being recorded privately by CPA. Payout amounts are variable and depend on the nature of the question being asked. Users will be notified of payout policies as they continue to evolve.</p>
        </div>
      </div>
      <div class="div-block-13">
        <a href="#cards-section-early" class="button-7 w-button">VIEW EARLY REGISTRATION PERKS</a>
      </div>
    </div>
  </section>
  </div>
  <div class="section custom-full1">

  <section id="cards-section-early" class="cards-section wf-section">
    <div class="centered-container-2 w-container">
      <h1 class="heading-31">join our network today to receive</h1>
      <h2 class="heading-30">EARLY REGISTRATION PERKS!</h2>
      <p class="paragraph-16">As an early network contributor, you gain access to our limited early registration perks.</p>
      <div class="cards-grid-container">
        <div id="w-node-_3a227275-20f1-0010-009e-4906e3c4cb66-2723d003">
          <div class="cards-image-mask"><img src="{%static 'images/logorot.png'%}" sizes="(max-width: 479px) 100vw, (max-width: 767px) 728px, (max-width: 991px) 228.0390625px, 286.6640625px"  alt="" class="cards-image"></div>
          <h3 class="heading-15">EARLY NETWORK ACCESS</h3>
          <p class="paragraph-9">The first 1,000 active users of our platform will be awarded exclusive network privileges which grant access to even greater rewards generated from the wisdom of the crowd.</p>
        </div>
        <div id="w-node-_3a227275-20f1-0010-009e-4906e3c4cb6d-2723d003">
          <div class="cards-image-mask"><img src="{%static 'images/loading.gif'%}" alt="" class="cards-image"></div>
          <h3 id="w-node-_3a227275-20f1-0010-009e-4906e3c4cb70-2723d003" class="heading-16">HELP BUILD THE CROWD'S ACCURACY</h3>
          <p id="w-node-_3a227275-20f1-0010-009e-4906e3c4cb72-2723d003" class="paragraph-7">     As an early user, you will help build the crowd&#x27;s accuracy score by contributing to our weighted proprietary formula&#x27;s. This takes time to calibrate and early users are essential to this crucial milestone for the CPA platform. </p>
        </div>
        <div id="w-node-_3a227275-20f1-0010-009e-4906e3c4cb74-2723d003">
          <div class="cards-image-mask"><img src="{%static 'images/tokens.gif'%}" alt="" class="cards-image"></div>
          <h3 id="w-node-_3a227275-20f1-0010-009e-4906e3c4cb77-2723d003" class="heading-16">RECEIVE 2x FINANCIAL REWARDS</h3>
          <p id="w-node-_3a227275-20f1-0010-009e-4906e3c4cb79-2723d003" class="paragraph-8">When the crowd passes an accuracy threshold (TBD), the first 1,000 active users will receive 2x rewards by remaining active on the platform. Activity is determined by the number of predictions you submit.</p>
        </div>
      </div>
    </div>
    <div class="centered-container-2 w-container">
      {% if request.user.is_authenticated %}
      <a class="w-button button-6" href="{% url "accounts:profile" %}">Dashboard</a>
      {%else%}
      <a href="{% url "accounts:register" %}" class="w-button button-6">Register Now</a>
      {%endif%}
          </div>
  </section>
  </div>

{% endblock %}