{% extends "base.html" %}
{% block content %}
{% load static %}

<style>

.p-t {

  text-align: center;

}
.hh{
  padding-top: 40px;
}
</style>

<section id="feature-section" class="feature-section wf-section">
  <div class="container-2 w-container box-shadow">
      <div class="columns-6 w-row">
        <div class="column-12 w-col w-col-6">
        <h2 class="heading-3">WISDOM OF THE CROWD</h2>
      <p class="p-t">Submit your response, gain credibility. Contribute to the Wisdom of the crowd.</p>
      <div class="div-block">
        {% load static %}
        <img class = "lottie-animation-2" src = "{% static 'images/cubes.gif'%}">
      </div>
      <div class="rich-text-block w-richtext">
        <h4><em>{{done}} Questions Completed</em></h4>
        <h4 class="done-text"><em>{{not_done}} Questions In Progress</em></h4>
      </div>
    </div>
    <div class="w-col w-col-6">
        <img class = "3f175161-ceca-fc15-a489-1f76e54ceb21" src = "{% static 'images/charts.gif'%}">
    </div>
  </div>
</div>
</div>

</section>



<div class="section-4 wf-section ">
  <div>
    <h1 class="heading-4">How It Works </h1>
  </div>
  <div class="container-2 w-container box-shadow">
    <div class="columns-5 w-row">
      <div class="column-9 w-col w-col-4">
        <h5 class="heading-9">Submit Your Vote </h5><img src="{% static 'images/questionmark.gif' %}"  alt="" class="image-2">
        <p>Submit your vote for the live questions. Upon submission, you will gain access to the crowd&#x27;s wisdom. </p>
      </div>
      <div class="column-10 w-col w-col-4">
        <h5 class="heading-10">Build your Accuracy Score</h5><img src="{% static 'images/stars.gif' %}"  alt="" class="image-3">
        <p>When voting ends, a result will be finalized. Your accuracy score will be updated accordingly. </p>
      </div>
      <div class="column-11 w-col w-col-4">
        <h5 class="heading-5">Impact the Wisdom of the Crowd</h5><img src="{% static 'images/braincomp.gif' %}"  alt="" class="image-4">
        <p>Directly impact the wisdom of the crowd. Your accuracy score will determine your vote's weight and directly influence the wisdom of the crowd.</p>
      </div>
    </div>
  </div>
</div>


<div class="container border-bottom padding-top hh">
  <div>
    <h1 class="heading-4">Live Questions </h1>
  </div>
</div>
<div class="container border-bottom ">
  <div class="py-5">
    <div class="row">
      {% for q in questions %}
      {% if  q.is_live %}
      <div class="col-md-4">
        {% if request.user.is_authenticated %}
        <a class="text-dark" href="{{q.get_absolute_url}}">
        {%endif%}
        <div class="card mb-4 box-shadow">
          <div class="card-body">
              <h2 style="font-size:18px;font-weight:bold">{{q.question}}</h2>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Voting Ends - {{q.dateEnds}}</small>
              </div>
          </div>
        </div>
        </a>
      </div>
        {%endif%}  
  {% endfor %}           
    </div>
  </div>
</div>


{% if request.user.is_authenticated %}
<div class="container">
    <a class="p-2 text-dark" href="{% url "accounts:profile"%}">Go To Dashboard</a>
    <small class="text-muted"> to Vote. </small>
</div>
{%endif%}  
{% if not request.user.is_authenticated %}
<div class="container">
  <a class="p-2 text-dark" href="{% url "accounts:register" %}">Register</a>
  <small class="text-muted"> or </small>
  <a class="p-2 text-dark" href="{% url "login" %}">Login</a>
  <small class="text-muted"> to Vote. </small>
</div>
{%endif%}  


{% endblock %}