.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  border-bottom: 1px solid #000;
  background-color: #fff;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: 150px;
  height: 100%;
  max-height: 150px;
  max-width: 200%;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 10px 10px 0px;
  border-right: 0.5px solid #000;
  background-color: transparent;
  color: #3898ec;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.hero-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  max-height: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Asset-13x.png');
  background-position: 50% 50%;
  background-size: 1000px 500px;
  background-attachment: scroll;
  color: #fff;
}

.centered-container {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
}

.hero-overlay-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  max-height: 360px;
  max-width: 1000px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Asset-22x.png');
  background-position: 0% 0%;
  background-size: auto;
  color: #fff;
}

.paragraph {
  border-style: none;
  border-width: 1px;
  border-color: #457dcf;
  border-radius: 0px;
  color: #000;
  text-align: center;
}

.heading {
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  font-family: 'Varela Round', sans-serif;
  color: #000;
  font-weight: 400;
  text-align: center;
}

.section {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.grid {
  grid-template-areas: ". Area"
    ". Area-2";
  -ms-grid-columns: minmax(200px, 0.25fr) minmax(500px, 5fr);
  grid-template-columns: minmax(200px, 0.25fr) minmax(500px, 5fr);
  -ms-grid-rows: minmax(129px, 5fr) minmax(auto, 1.75fr);
  grid-template-rows: minmax(129px, 5fr) minmax(auto, 1.75fr);
}

.button {
  display: block;
}

.paragraph-2 {
  color: #3898ec;
  font-size: 20px;
}

.feature-section {
  margin-right: 140px;
  margin-left: 140px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-mask {
  width: 100%;
  margin-right: 40px;
}

.feature-image {
  display: inline;
  width: 100%;
  height: 100%;
  max-height: 100px;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.lottie-animation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 200px;
  max-width: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: right;
}

.columns {
  margin-right: auto;
  margin-left: auto;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: right;
}

.heading-2 {
  font-family: Oswald, sans-serif;
  font-weight: 300;
}

.heading-3 {
  max-width: 200px;
  min-width: 500px;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}

.paragraph-3 {
  font-family: 'Varela Round', sans-serif;
}

.rich-text-block {
  font-family: 'Varela Round', sans-serif;
  color: #000;
  font-style: italic;
  text-align: center;
}

.lottie-animation-2 {
  display: block;
  max-height: 75px;
  max-width: 75px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.lottie-animation-3 {
  max-height: 500px;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.section-2 {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.heading-4 {
  font-family: 'Varela Round', sans-serif;
  font-size: 25px;
  text-align: center;
}

.columns-2 {
  margin-right: auto;
  margin-left: auto;
}

.heading-5 {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}

.section-3 {
  margin-top: 100px;
}

.container {
  text-align: center;
}

.text-block {
  text-align: center;
}

.text-block-2 {
  text-align: center;
}

.div-block-2 {
  border: 1px solid #000;
}

.column-2 {
  border: 1px solid #000;
}

.lottie-animation-4 {
  max-height: 50px;
  max-width: 50px;
  margin-right: 0px;
  margin-left: auto;
}

.column-3 {
  text-align: right;
}

.lottie-animation-5 {
  max-height: 50px;
  max-width: 50px;
}

.hero {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-image-mask {
  width: 100%;
  margin-right: 40px;
  margin-left: auto;
}

.hero-image {
  width: 100%;
  height: 100%;
  max-height: 300px;
  max-width: 300px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.form-block {
  display: block;
  max-height: 500px;
  max-width: 500px;
  min-height: 500px;
  min-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.columns-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.lottie-animation-6 {
  max-height: 1000px;
  max-width: 1000px;
  min-height: 500px;
  min-width: 500px;
}

.heading-6 {
  margin-top: 140px;
  text-align: center;
}

.column-5 {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.form {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.field-label {
  text-align: center;
}

.field-label-2 {
  text-align: center;
}

.submit-button {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: right;
}

.div-block-4 {
  text-align: center;
}

.flex-container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.column-6 {
  text-align: left;
}

.column-7 {
  text-align: left;
}

.paragraph-4 {
  margin-bottom: 60px;
}

.image {
  max-height: 250px;
  max-width: 250%;
  min-height: 250px;
  min-width: 250px;
}

.column-8 {
  display: inline-block;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
}

.columns-4 {
  margin-right: auto;
  margin-left: auto;
}

.heading-7 {
  margin-right: auto;
  margin-left: auto;
}

.paragraph-5 {
  text-align: center;
}

.section-4 {
  background-color: hsla(0, 0%, 100%, 0.38);
}

.column-9 {
  text-align: center;
}

.column-10 {
  text-align: center;
}

.column-11 {
  text-align: center;
}

.columns-6 {
  margin-top: 100px;
}

.image-5 {
  max-height: 300px;
  max-width: 400px;
  min-height: 300px;
  min-width: 400px;
}

.column-13 {
  display: block;
}

.flex-container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-image-2 {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.div-block-7 {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hero-overlay-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  max-height: 550px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: linear-gradient(180deg, transparent, transparent);
  color: #fff;
}

.centered-container-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.lottie-animation-7 {
  display: block;
  max-height: 150px;
  max-width: 150px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-13 {
  font-family: Inconsolata, monospace;
  color: #000;
}

.paragraph-6 {
  font-family: Inconsolata, monospace;
  color: #000;
}

.div-block-9 {
  display: block;
}

.div-block-10 {
  display: inline;
  margin-right: auto;
  margin-left: auto;
}

.hero-overlay-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  max-height: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg'), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg'), linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-position: 0px 0px, 0px 0px;
  background-size: auto, auto;
  color: #fff;
}

.heading-14 {
  font-family: 'Varela Round', sans-serif;
}

.cards-section {
  max-height: 915.6640625vh;
  max-width: 1432vw;
  min-height: 915.6640625px;
  min-width: 1432px;
  padding-top: 100px;
  padding-bottom: 220px;
  text-align: center;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading-15 {
  font-family: Inconsolata, monospace;
  color: #000;
  font-size: 20px;
  text-align: center;
}

.heading-16 {
  font-family: Inconsolata, monospace;
  color: #000;
  font-size: 20px;
  text-align: center;
}

.heading-17 {
  font-size: 20px;
}

.heading-18 {
  font-family: Inconsolata, monospace;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.paragraph-7 {
  font-family: Inconsolata, monospace;
  color: #000;
  font-weight: 400;
  text-align: center;
}

.paragraph-8 {
  font-family: Inconsolata, monospace;
  color: #000;
  text-align: center;
}

.paragraph-9 {
  font-family: Inconsolata, monospace;
  color: #000;
  text-align: center;
}

.button-2 {
  margin-top: 60px;
  margin-right: 10px;
  font-family: Inconsolata, monospace;
}

.paragraph-10 {
  font-family: Inconsolata, monospace;
  text-align: center;
}

.image-7 {
  max-height: 150px;
}

.heading-19 {
  margin-top: -25px;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-style: italic;
}

.button-3 {
  min-height: 15px;
  min-width: 15px;
  margin-top: 10px;
  background-color: rgba(25, 129, 247, 0.76);
  font-family: 'Varela Round', sans-serif;
  font-size: 10px;
  line-height: 7px;
}

.container-3 {
  margin-top: 100px;
}

.section-5 {
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -o-object-fit: cover;
  object-fit: cover;
}

.sticky-nav-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  border-bottom: 0px none #2f5794;
  background-color: #fff;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  font-family: Inconsolata, monospace;
}

.nav-logo-2 {
  width: auto;
  height: 100%;
  max-width: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.paragraph-11 {
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
  line-height: 50px;
}

.container-4 {
  margin-top: 20px;
  padding-bottom: 40px;
}

.body-2 {
  background-color: #fff;
}

.heading-20 {
  padding-left: 60px;
  font-family: Inconsolata, monospace;
  color: #3898ec;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

.heading-21 {
  font-family: Inconsolata, monospace;
  color: #3898ec;
  font-style: normal;
  font-weight: 400;
  text-align: right;
}

.heading-22 {
  font-family: Inconsolata, monospace;
  color: #000;
  font-size: 35px;
  font-style: italic;
  font-weight: 400;
}

.heading-23 {
  font-family: Inconsolata, monospace;
  color: #000;
  font-size: 35px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.image-8 {
  display: block;
  max-width: 200%;
  min-height: 300px;
  min-width: 400px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.columns-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.image-9 {
  max-height: 200px;
  max-width: 200%;
  min-height: 150px;
  min-width: 150px;
  text-align: left;
}

.column-15 {
  text-align: center;
}

.paragraph-12 {
  padding-top: 40px;
  font-family: Inconsolata, monospace;
  font-size: 15px;
}

.paragraph-13 {
  display: block;
}

.paragraph-14 {
  font-family: Inconsolata, monospace;
  color: #333;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.html-embed {
  text-align: center;
}

.image-10 {
  max-width: 100px;
  text-align: center;
}

.div-block-11 {
  text-align: center;
}

.heading-24 {
  font-family: Inconsolata, monospace;
  font-size: 15px;
  font-style: italic;
  font-weight: 700;
}

.italic-text {
  font-style: normal;
}

.heading-25 {
  font-family: Inconsolata, monospace;
  font-weight: 400;
}

.image-11 {
  max-height: 100px;
  max-width: 100vw;
  min-height: 100px;
  min-width: 500px;
}

.section-6 {
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100px;
  min-width: 100vw;
  background-color: #3898ec;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-26 {
  font-family: Inconsolata, monospace;
  color: #fffefe;
  font-weight: 400;
}

.call-to-action {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

.centered-container-3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.heading-27 {
  font-family: Inconsolata, monospace;
  color: #3898ec;
  font-size: 55px;
  font-style: italic;
  font-weight: 400;
}

.paragraph-15 {
  font-family: Inconsolata, monospace;
  font-size: 17px;
}

.column-16 {
  text-align: center;
}

.heading-28 {
  font-family: Inconsolata, monospace;
  font-weight: 400;
  text-align: left;
}

.heading-29 {
  font-family: Inconsolata, monospace;
  font-weight: 400;
  text-align: right;
}

.cards-section-2 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.centered-container-4 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.heading-30 {
  font-family: Inconsolata, monospace;
  color: #3898ec;
  font-size: 55px;
  font-weight: 400;
  text-align: right;
}

.button-4 {
  font-family: Inconsolata, monospace;
}

.button-5 {
  font-family: Inconsolata, monospace;
}

.heading-31 {
  font-family: Inconsolata, monospace;
  font-size: 38px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
}

.paragraph-16 {
  margin-top: 10px;
  font-family: Inconsolata, monospace;
  font-size: 17px;
}

.button-6 {
  margin-left: 20px;
  font-family: Inconsolata, monospace;
}

.feature-section-2 {
  padding-top: 220px;
  padding-bottom: 100px;
}

.flex-container-4 {
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-2 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading-32 {
  margin-bottom: 20px;
  font-family: Inconsolata, monospace;
  color: #3898ec;
  font-weight: 400;
  text-align: center;
}

.container-7 {
  margin-bottom: 20px;
}

.heading-33 {
  font-family: Inconsolata, monospace;
}

.image-12 {
  text-align: center;
}

.column-17 {
  text-align: center;
}

.paragraph-17 {
  padding-top: 20px;
  font-family: Inconsolata, monospace;
  font-size: 14px;
  text-align: center;
}

.column-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.column-19 {
  text-align: center;
}

.paragraph-18 {
  padding-top: 20px;
  font-family: Inconsolata, monospace;
  text-align: center;
}

.image-13 {
  color: #3898ec;
}

.heading-34 {
  font-family: Inconsolata, monospace;
  font-weight: 400;
  text-align: center;
}

.image-14 {
  text-align: center;
}

.column-20 {
  text-align: center;
}

.paragraph-19 {
  font-family: Inconsolata, monospace;
  text-align: center;
}

.button-7 {
  margin-top: 20px;
  font-family: Inconsolata, monospace;
  text-align: center;
}

.div-block-13 {
  text-align: center;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  max-width: 100px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Inconsolata, monospace;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 700;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  font-family: Inconsolata, monospace;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.text-block-3 {
  font-family: Inconsolata, monospace;
}

.list {
  font-family: Inconsolata, monospace;
}

.paragraph-20 {
  font-family: Inconsolata, monospace;
  font-size: 10px;
  line-height: 10px;
}

.sticky-nav-3 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.nav-grid-2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link-2 {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo-3 {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link-2 {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link-2:hover {
  text-decoration: underline;
}

.html-embed-2 {
  max-width: 100px;
}

.heading-35 {
  font-family: Inconsolata, monospace;
  text-align: center;
}

.heading-36 {
  font-family: Inconsolata, monospace;
  text-align: center;
}

.paragraph-21 {
  font-family: Inconsolata, monospace;
  color: #c31616;
  font-style: italic;
  text-align: center;
}

.button-8 {
  text-align: right;
}

.div-block-14 {
  text-align: right;
}

.container-8 {
  margin-top: 140px;
}

.link {
  font-family: Inconsolata, monospace;
  text-align: center;
}

.div-block-15 {
  padding-top: 20px;
  text-align: center;
}

.container-9 {
  padding-top: 100px;
}

.body-3 {
  margin-top: 100px;
}

.heading-37 {
  font-family: Inconsolata, monospace;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}

.html-embed-3 {
  margin-bottom: 20px;
  text-align: center;
}

.paragraph-22 {
  text-align: center;
}

.columns-8 {
  border: 1px solid #000;
}

.heading-38 {
  font-family: Inconsolata, monospace;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.column-21 {
  border-right: 1px solid #000;
}

.link-2 {
  font-family: Inconsolata, monospace;
}

.container-10 {
  margin-top: 100px;
}

.heading-39 {
  font-family: Inconsolata, monospace;
  font-weight: 400;
  text-align: center;
}

.heading-40 {
  font-family: Inconsolata, monospace;
}

.field-label-3 {
  font-family: Inconsolata, monospace;
  font-weight: 400;
}

.field-label-4 {
  font-family: Inconsolata, monospace;
  font-weight: 400;
}

.paragraph-23 {
  font-family: Inconsolata, monospace;
  color: #3898ec;
  font-style: italic;
}

.section-7 {
  margin-top: 100px;
}

.div-block-16 {
  text-align: right;
}

.heading-41 {
  font-family: Inconsolata, monospace;
  font-weight: 400;
  text-align: center;
}

.container-11 {
  border: 1px solid #000;
}

.heading-42 {
  font-family: Inconsolata, monospace;
  text-align: center;
}

.image-15 {
  padding-bottom: 10px;
}

.paragraph-24 {
  font-family: Inconsolata, monospace;
  font-size: 12px;
}

.heading-43 {
  font-family: Inconsolata, monospace;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  text-align: right;
}

.column-22 {
  text-align: right;
}

.heading-44 {
  font-family: Inconsolata, monospace;
  color: #1ace35;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.heading-45 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Inconsolata, monospace;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.heading-46 {
  font-family: Inconsolata, monospace;
}

.heading-47 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: Inconsolata, monospace;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.div-block-17 {
  text-align: center;
}

.button-9 {
  border-radius: 11px;
  font-family: Inconsolata, monospace;
}

.text-block-4 {
  font-family: Inconsolata, monospace;
}

.columns-9 {
  padding-bottom: 40px;
}

.heading-48 {
  border-bottom: 1px dashed #000;
  font-family: Inconsolata, monospace;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .feature-section {
    margin-right: auto;
    margin-left: auto;
  }

  .flex-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .heading-3 {
    width: auto;
    height: auto;
    max-width: 400px;
    min-width: 0px;
    font-size: 25px;
  }

  .lottie-animation-2 {
    max-height: 150px;
    max-width: 150px;
  }

  .heading-4 {
    border-bottom: 1px none #000;
  }

  .form-block {
    min-height: 0px;
    min-width: 0px;
  }

  .columns-3 {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .lottie-animation-6 {
    min-height: 0px;
    min-width: 0px;
  }

  .heading-6 {
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  .column-5 {
    display: inline-block;
  }

  .field-label {
    font-family: 'Varela Round', sans-serif;
  }

  .field-label-2 {
    font-family: 'Varela Round', sans-serif;
  }

  .paragraph-5 {
    font-family: 'Varela Round', sans-serif;
    font-style: italic;
    text-align: center;
  }

  .section-4 {
    border-right: 1px none #000;
    text-align: center;
  }

  .heading-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .heading-9 {
    font-family: 'Varela Round', sans-serif;
  }

  .heading-10 {
    font-family: 'Varela Round', sans-serif;
  }

  .image-2 {
    padding-bottom: 10px;
  }

  .image-3 {
    padding-bottom: 10px;
  }

  .image-4 {
    padding-bottom: 10px;
  }

  .column-9 {
    border-right: 1px none #000;
  }

  .column-10 {
    border-right: 1px none #000;
  }

  .columns-5 {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
  }

  .container-2 {
    border-right: 1px none #000;
  }

  .column-11 {
    border-right: 1px none #000;
  }

  .body {
    border-right: 1px solid #000;
  }

  .text-field {
    display: inline-block;
  }

  .column-13 {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .image-6 {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
  }

  .div-block-6 {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .cards-grid-container {
    grid-column-gap: 20px;
  }

  .button-2 {
    margin-right: 10px;
  }

  .heading-19 {
    margin-top: -19px;
    font-size: 8px;
    line-height: 8px;
  }

  .button-3 {
    margin-top: -38px;
    font-size: 8px;
    line-height: 8px;
  }

  .columns-7 {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .paragraph-12 {
    padding-top: 20px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .hero-overlay {
    padding: 40px 20px;
  }

  .hero-overlay-2 {
    padding: 40px 20px;
  }

  .feature-section {
    display: inline;
    padding: 40px 20px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-mask {
    margin-right: 0px;
  }

  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }

  .heading-3 {
    font-size: 22px;
    line-height: 20px;
  }

  .lottie-animation-2 {
    max-height: 125px;
    max-width: 125px;
    padding-bottom: 10px;
  }

  .hero {
    padding: 40px 20px;
  }

  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .flex-container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .paragraph-5 {
    padding-top: 20px;
  }

  .column-12 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .columns-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .image-5 {
    min-width: 300px;
  }

  .flex-container-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-image-2 {
    max-height: 200px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .column-14 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .hero-overlay-3 {
    padding: 40px 20px;
  }

  .hero-overlay-4 {
    padding: 40px 20px;
  }

  .cards-section {
    padding: 40px 20px;
  }

  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .heading-15 {
    text-align: center;
  }

  .button-2 {
    margin-right: 10px;
  }

  .heading-19 {
    margin-top: -22px;
    font-size: 9px;
    line-height: 15px;
  }

  .button-3 {
    margin-top: -25px;
    font-size: 9px;
    line-height: 9px;
  }

  .sticky-nav-2 {
    position: relative;
  }

  .container-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .image-8 {
    min-height: 200px;
    min-width: 200px;
  }

  .columns-7 {
    padding-right: 10px;
  }

  .image-9 {
    min-height: 75px;
    min-width: 75px;
  }

  .paragraph-12 {
    margin-top: 40px;
    font-size: 11px;
    text-align: center;
  }

  .call-to-action {
    padding: 40px 20px;
  }

  .cards-section-2 {
    padding: 40px 20px;
  }

  .feature-section-2 {
    padding: 40px 20px;
  }

  .flex-container-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-2 {
    margin-right: auto;
    margin-left: auto;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .sticky-nav-3 {
    position: relative;
  }

  .nav-grid-2 {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    height: 20px;
    border-top: 1px none #c4c4c4;
  }

  .nav-link {
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 1px solid #c4c4c4;
  }

  .centered-container {
    display: block;
    text-align: left;
  }

  .heading-3 {
    display: block;
    font-size: 14px;
    line-height: 15px;
  }

  .lottie-animation-2 {
    max-height: 75px;
    max-width: 75px;
  }

  .heading-4 {
    font-size: 14px;
  }

  .paragraph-5 {
    font-size: 8px;
  }

  .columns-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .div-block-5 {
    display: block;
    padding-top: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .image-5 {
    max-height: 175px;
    max-width: 175px;
    min-height: 50px;
    min-width: 50px;
  }

  .hero-image-2 {
    max-width: 200%;
  }

  .div-block-8 {
    display: block;
  }

  .column-14 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .heading-11 {
    font-size: 22px;
  }

  .heading-12 {
    font-size: 22px;
  }

  .centered-container-2 {
    text-align: center;
  }

  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .button-2 {
    margin-right: 10px;
  }

  .paragraph-10 {
    text-align: center;
  }

  .image-7 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .heading-19 {
    font-size: 10px;
    text-align: center;
  }

  .button-3 {
    display: inline;
    width: 20px;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    margin-right: 100px;
    margin-left: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 9px;
    line-height: 9px;
    text-align: center;
  }

  .sticky-nav-2 {
    padding: 0px;
  }

  .nav-logo-2 {
    min-height: 50px;
  }

  .heading-20 {
    margin-top: 0px;
    font-size: 20px;
  }

  .heading-21 {
    margin-top: 0px;
    font-size: 20px;
  }

  .heading-22 {
    margin-bottom: 0px;
    font-size: 15px;
  }

  .heading-23 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
  }

  .image-8 {
    max-height: 200px;
    max-width: 200px;
    min-height: 150px;
    min-width: 150px;
  }

  .columns-7 {
    display: block;
  }

  .image-9 {
    max-height: 100px;
    max-width: 100px;
    min-height: 50px;
    min-width: 50px;
  }

  .paragraph-12 {
    margin-top: 20px;
  }

  .image-10 {
    max-height: 50px;
    max-width: 50px;
  }

  .div-block-11 {
    display: block;
    margin-bottom: auto;
  }

  .heading-25 {
    font-size: 11px;
    text-align: center;
  }

  .centered-container-3 {
    display: block;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    text-align: left;
  }

  .heading-27 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    text-align: center;
  }

  .paragraph-15 {
    font-size: 14px;
    text-align: center;
  }

  .heading-28 {
    margin-bottom: 0px;
    font-size: 15px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .heading-29 {
    margin-top: 0px;
    font-size: 15px;
  }

  .container-6 {
    margin-bottom: 140px;
  }

  .div-block-12 {
    text-align: center;
  }

  .centered-container-4 {
    text-align: left;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .sticky-nav-3 {
    padding: 0px;
  }

  .nav-grid-2 {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link-2 {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }
}

#w-node-_4a0960b7-b1e6-43eb-4ee7-59f753da9e4d-2723d003 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_066ba4de-6669-a13e-5606-de8d187351b1-2723d003 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_54c8c18b-b43d-a130-8f6d-cefb34fbe37c-ad0cc703 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_54c8c18b-b43d-a130-8f6d-cefb34fbe37e-ad0cc703 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_54c8c18b-b43d-a130-8f6d-cefb34fbe383-ad0cc703 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_54c8c18b-b43d-a130-8f6d-cefb34fbe385-ad0cc703 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }

  #w-node-_3a227275-20f1-0010-009e-4906e3c4cb70-2723d003 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_3a227275-20f1-0010-009e-4906e3c4cb72-2723d003 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_3a227275-20f1-0010-009e-4906e3c4cb77-2723d003 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_3a227275-20f1-0010-009e-4906e3c4cb79-2723d003 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_54c8c18b-b43d-a130-8f6d-cefb34fbe372-ad0cc703 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_54c8c18b-b43d-a130-8f6d-cefb34fbe379-ad0cc703 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_54c8c18b-b43d-a130-8f6d-cefb34fbe380-ad0cc703 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_4a0960b7-b1e6-43eb-4ee7-59f753da9e4d-2723d003 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_4a0960b7-b1e6-43eb-4ee7-59f753da9e56-2723d003 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-_3a227275-20f1-0010-009e-4906e3c4cb66-2723d003 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_3a227275-20f1-0010-009e-4906e3c4cb6d-2723d003 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_3a227275-20f1-0010-009e-4906e3c4cb74-2723d003 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}