            <div class="container">
                <footer class="pt-4 my-md-5 pt-md-5 border-top">

                    <div class="row">

                        <div class="col-12 col-md">
                            <a>
                            <img class="mb-2" src="/static/img/cpa-logo.png"alt="" width="24"
                                height="24"></a>
                            <small class="d-block mb-3 text-muted">&copy; 2022</small>
                        </div>
                        <div class="col-6 col-md">
                            <h5>Categories</h5>
                            <ul class="list-unstyled text-small">
                                <li><a class="text-muted" href="#">MacroEconomics</a></li>
                                <li><a class="text-muted" href="#">Quarterly Earnings</a></li>
                                <li><a class="text-muted" href="#">Sports</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md">
                            <h5>Resources</h5>
                            <ul class="list-unstyled text-small">
                                <li><a class="text-muted" href="#">Resource</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md">
                            <h5>About</h5>
                            <ul class="list-unstyled text-small">
                                <li><a class="text-muted" href="#">Team</a></li>
                                <li><a class="text-muted" href="#">Privacy</a></li>
                                <li><a class="text-muted" href="#">Terms</a></li>
                            </ul>
                        </div>
                    </div>
                </footer>
                <div>