{%load static%}


<header id="nav" class="sticky-nav-2">
  <nav class="w-container">
    <ul role="list" class="nav-grid w-list-unstyled">
      <li id="w-node-_4a0960b7-b1e6-43eb-4ee7-59f753da9e4d-2723d003">
        <a href="#top" class="nav-logo-link"><img src="{%static 'images/bluelogo.png'%}" sizes="(max-width: 479px) 50vw, (max-width: 767px) 78.5078125px, (max-width: 991px) 79.0078125px, 185.0078125px"  alt="" class="nav-logo-2"></a>
      </li>
      <li id="w-node-_066ba4de-6669-a13e-5606-de8d187351b1-2723d003">
        <a href="/#learnmore" class="nav-link">HOW IT WORKS</a>
      </li>
      <li>
        <a href="/#cards-section-early" class="nav-link">EARLY REGISTRATION PERKS</a>
      </li>
      <li>
        {% if request.user.is_authenticated %}
        <a href="{% url "logout" %}" class="nav-link">SIGN OUT</a>

        {%else%}
        <a href="{% url "login" %}" class="nav-link">SIGN IN</a>

        {%endif%}

      </li>
      
      <li id="w-node-_4a0960b7-b1e6-43eb-4ee7-59f753da9e56-2723d003">
        {% if request.user.is_authenticated %}

        <a class="w-button" href="{% url "accounts:profile" %}">Dashboard</a>
        {%else%}
        <a href="{% url "accounts:register" %}" class="w-button">Register</a>
        {%endif%}
      </li>
    </ul>
  </nav>
</header>

